<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Form</title>
  </head>
  <body>
    <%= form_for(@student) do |f| %>
      <label>First Name: </label> <br>
      <%= f.text_field_tag :first_name %> <br>

      <label>Last Name: </label> <br>
      <%= f.text_field_tag :last_name %>

      <%= f.submit %>
    <% end %>
  </body>
</html>
